body {
  font-family: "Poppins", serif;
  margin: 20px;
}

.title-h1 {
  text-decoration: underline;
}

.personal-data-h3 {
  font-weight: 800;
}

.profile-h3 {
  text-decoration: underline;
}

.profile-p-1 {
  width: fit-content;
}
.profile-p-2 {
  width: fit-content;
}
.profile-p-3 {
  width: fit-content;
}

.profile-p-1:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.profile-p-2:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.profile-p-3:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.picture-cv-try {
  border-radius: 140px;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 0px 2px rgb(169, 169, 169);
}

.form-button {
  background-color: #000000;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}

.form-button:hover {
  background-color: #ffffff;
  transition: 0.5s;
  border-color: #ffffff;
  box-shadow: #ffffff;
  border-style: none;
  border: 3px solid transparent;
}

.form-button-a {
  text-decoration: none;
}
